a {
    font-size: 20px;
}
a:hover
{
    text-shadow: 1px 1px 3px #e159f3;
}
body {
    background-color: #c2c2c2;
    text-align: center;
}
ul
{
    text-align: left;
    display: inline-block;
}
hr {
    border-top: 4px solid #8a6613;
    border-radius: 2px;
}
nav
{
    background-color: #756b6a;
    padding: 6px;
    border-radius: 3px;
}